[Desktop Entry]
Version=1.0
Name=Bowser
Name[en_AU]=Install Bowser
GenericName=Install Bowser Web Browser Chooser
Comment=Install Bowser: Set up rules to open specific URLs in specific web browsers
Exec=bash -c "var=$(dirname %k) && cd $var && python3 bowser.py"
Icon=bowser.png
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.24
